<div class="col-10 offset-1 about">
<h1>About Splurty</h1>


<p>
  Splurty was build by <a target="_blank" href="http://github.com/ramseychapin">Ramsey</a>. A founder on a mission to learn how to code.
</p>
<br />
<p>
  He has touched every aspect of a software business except for the actual code.
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'Ramsey.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Ramsey Chapin</h2>
    <br />
    <p>
      Ramsey is a founder learning to code.
    </p>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />